body {
  text-align: center;
}

h1,
h2 {
  margin: 10px !important;
}

ul {
  margin: none !important;
  padding-left: 0 !important;
}

input {
  margin-bottom: 20px !important;
}

a li {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

#contents {
  padding: 10px;
}

#contents:hover {
  background-color: white;
}

/*text centered over image*/
.centered {
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -280%);
  color: white;
}

.centered2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -150%);
  color: white;
}

.darkened-image {
  filter: brightness(50%);
}

.section {
  text-align: center;
  margin: 30px;
}

.navbar-expand-md {
  -ms-flex-flow: column wrap !important;
  flex-flow: column wrap !important;
}

#cover {
  position: relative;
}

#sticky {
  position: absolute;
  top: 0;
}

/*modal*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60% !important;
}

/* The Close Button */
.close {
  color: #aaaaaa !important;
  float: right !important;
  font-size: 34px !important;
  font-weight: bold !important;
  text-align: right;
  margin-right: 5px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
